.container {
  margin-top: 5%;
  background-color: #f7f2ef;
}

.ant-card-cover {
  color: #f7f2ef;
  border: none;
}

.ant-card-body {
  background-color: #f7f2ef;
}

.site-card-wrapper {
  height: 90vh;
  padding: 8%;
}

.loadWrapper {
  margin-top: 20vh;
}
