.container {
  margin-top: 5%;
  background-color: #f7f2ef;
}

.ant-card-cover {
  color: #f7f2ef;
  border: none;
  width: 180px;
  height: 180px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 60px -23px rgba(0, 0, 0, 0.86);
  -moz-box-shadow: 0px 0px 60px -23px rgba(0, 0, 0, 0.86);
  box-shadow: 0px 0px 60px -23px rgba(0, 0, 0, 0.86);
}

.ant-card-cover img {
  height: 100%;
}

.site-card-wrapper {
  height: 100vh;
  padding: 8%;
  padding-top: 1%;
}

.ant-card {
  background-color: #f7f2ef;
}

.ant-card-body {
  padding-right: 0px;
  padding-left: 0px;
  width: 180px;
}
.controlers {
  text-align: right;
  padding: 6% 5% 2% 8%;
}

.loadWrapper {
  margin-top: 20vh;
}

.album-details {
  text-align: left;
}
