.container {
  margin-top: 5%;
  background-color: #f7f2ef;
}

.ant-card-cover {
  color: #f7f2ef;
  border: none;
  overflow: hidden;
  width: 163px;
  height: 163px;
  overflow: hidden;
}

.ant-card-cover img {
  height: 100%;
}

.ant-card-body {
  background-color: #f7f2ef;
}

.site-card-wrapper {
  height: 100vh;
  padding: 8%;
  padding-top: 1%;
}

.controlers {
  text-align: right;
  padding: 6% 12% 0% 8%;
}

.loadWrapper {
  margin-top: 20vh;
}
