@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

.album-container {
  margin-top: 8%;
}

.art-cover {
  height: 80vh;
  margin-top: 10%;
}

.art-cover img {
  width: 50%;
}

.album-title {
  font-family: 'Bungee', cursive;
}
