.logo {
  width: 100px;
  height: 31px;
  background-image: url('https://firebasestorage.googleapis.com/v0/b/record-shop-96ab5.appspot.com/o/recordlogo.png?alt=media&token=0f2984c0-6cf0-4379-829c-67909bec9f74');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin: 16px 0px 16px 0px;
  //   float: left;
}
